@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

.auction_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 94%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    padding-top: 20vh;
}

.auction_card {
    position: relative;
    height: 420px;
    width: 21%;
    border: 1px solid rgba(17, 16, 16, 0.1);
    border-radius: 25px;
    box-shadow: rgb(99 99 99 / 12%) 0px 1px 8px 0px;
    margin: 0 2% 60px;
}

.auction_card-img img {
    width: 100%;
    border-radius: 25px;
    margin-top: 20px;
    padding: 0 20px;
    height: 250px;
    object-fit: contain;
}

.auction_card-content {
    margin: 0 20px;
}

.auction_card-content h4 {
    font-weight: 600;
    font-size: 16px;
    color: #222222;
    margin: 13px 0 0;
}

.auction_card-content h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    margin-top: 5px;
    color: #565B60;
}

.auction_card-content_bottom {
    position: absolute;
    display: flex;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.auction_card-content_bottom h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #919397;
}

.auction_card-content_bottom a {
    padding: 8px 16px;
    border-radius: 32px;
    font-size: 14px;
    background-color: #A47E1B;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.889);

}