.profile-username {
    position: absolute;

    font-family: 'Archivo';
    font-style: italic;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.profile-collection {
    display: block;
}

.profile-info {
    display: none;
}