.multiple-input {
    display: flex;
    justify-content: space-between;
}

.multiple-input input {
    width: 48% !important;
}

.log-in .column-60 form input {
    margin-bottom: 20px;
}

.log-in .alternative_log-in {
    margin-top: 5vh;
}

.sign-in_no-account {
    margin-top: 3vh !important;
}

.sign-up_title h1 {
    font-weight: 500;
    font-size: 32px;
    color: #183153;
}

.sign-up_form {
    margin-top: 4vh !important;
}

.input_god {
    margin-bottom: 30px !important;
}

.sign-in_button {
    margin-top: 0 !important;
}

#email{
    display: block;
}

#username{
    display: none;
}

#password{
    display: none;
}

#confirm_password{
    display: none;
}

#name{
    display: block;
}

#surname{
    display: block;
}

#birthdate{
    display: none;
}

#address{
    display: block;
}

#submit{
    display: none;
     background: #FFD43B;
     cursor: pointer;
}

#next{
    display: block;
    background: #FFD43B;
    cursor: pointer;
}

@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

#arrow{
    top:23%;
    left:50%;
    font-size:35px;
    z-index:1000;
    display:none;
    position:relative;
    color:#A47E1B;
}