<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/auctive.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/9d05a115fd.js" crossorigin="anonymous"></script>
    <title>Auction</title>
</head>
<body>

<header>
    <div class="logo">
        <a href="index.html">
            <img src="/img/logo.png" alt="">
            <h2>uctive</h2>
        </a>
    </div>
    <nav>
        <a href="/">home</a>
        <a href="">about</a>
        <a href="/auction/all">auction</a>
        <a href="/log-in">log-in</a>
    </nav>

    <nav class="mobile-nav" id="mobile-nav">
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
    </nav>


    <div class="mobile-nav_options_container" id="mobile-nav_options_container">
        <a href="">home</a>
        <a href="">about</a>
        <a href="">auction</a>
        <a href="log-in/">log-in</a>
        <div id="mobile-nav_options_container-exit">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</header>


<section class="auction_container">
    <th:block th:each="auction : ${listauction}">
        <div class="auction_card">
            <div class="auction_card-img">
                <img th:src="@{'/img/products/' + ${auction.getProduct().getproductImageUrl()}}">
            </div>

            <div class="auction_card-info">
            <div class="auction_card-content">
                <h4 th:text="${auction.product.getProductName()}"></h4>
                <h6>By Robert Hanu</h6>
            </div>

            <div class="auction_card-content_bottom">
                <h6>Mancano 5 giorni</h6>
                <a th:href="@{'/product?id=' + ${auction.getIdAuction()}}">Make an offer</a>
            </div>
            </div>
        </div>
    </th:block>

</section>

</body>
</html>