<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auctive</title>
</head>

<body>

<header>
    <div class="logo">
        <a href="index.html">
            <img src="/img/logo.png" alt="">
            <h2>uctive</h2>
        </a>
    </div>
    <nav>
        <a href="/">home</a>
        <a href="">about</a>
        <a href="/auction/all">auction</a>
        <a th:if="${user != null}" href="/profile">profile</a>
        <a th:unless="${user != null}" href="/log-in">log-in</a>

    </nav>

    <nav class="mobile-nav" id="mobile-nav">
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
    </nav>


    <div class="mobile-nav_options_container" id="mobile-nav_options_container">
        <a href="/">home</a>
        <a href="about">about</a>
        <a href="auction">auction</a>
        <div id="mobile-nav_options_container-exit">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</header>

    <div align="center">
        <h1>Edit Product</h1>
        <br/>
        <form action="#" th:action="@{/save}" th:object="${product}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>Product ID:</td>
                    <td><input type="text" th:field="*{idProduct}" readonly="readonly"/></td>
                </tr>
                <tr>
                    <td>Product Name:</td>
                    <td><input type="text" th:field="*{productName}"/></td>
                </tr>
                <tr>
                    <td>Brand:</td>
                    <td><input type="text" th:field="*{brand}"/></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" th:field="*{productDescription}"/></td>
                </tr>
                <tr>
                    <td>Image Url:</td>
                    <td><input type="text" th:field="*{productImageUrl}"/></td>
                </tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </table>
        </form>
    </div>
</body>
</html>