<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="../static/fonts/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9d05a115fd.js" crossorigin="anonymous"></script>
    <title>Auctive</title>
</head>
<body>

    <style>

        h1{
        margin: 2em;
        text-align: center;
        font-size: 4em;
        }

        input {

        display: block;
        margin: auto;
        text-align: center;
        width: 40em;
        height: 3em;
        border-radius: 25em;

        }
    </style>

    <h1>Auctive</h1>
    <br>
    <input type="text" placeholder="Search for your next treasure">

</body>
</html>