<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="../static/fonts/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9d05a115fd.js" crossorigin="anonymous"></script>
    <title>Auctive</title>
</head>
<body>

    <h1>Auctive</h1>
    <br>
    <form action="product-list" method="get">
        <input type="text" placeholder="Search for your next treasure">
        <input type="submit" value="Submit">
        <div class="text-center">
        <a href="product-list" class="text-center">Lista Di Tutti I Prodotti</a>
        </div>
    </form>

</body>
</html>