<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta   charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/fonts/stylesheet.css">
    <link rel="stylesheet" href="/css/log-in.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9d05a115fd.js" crossorigin="anonymous"></script>
    <title>Auctive</title>
</head>
<body>
<header>
    <div class="logo">
        <a href="../index.html">
            <img src="/img/logo.png" alt="">
            <h2>uctive</h2>
        </a>
    </div>
    <nav>
        <a href="../">home</a>
        <a href="">about</a>
        <a href="">auction</a>
        <a href="../log-in/">log-in</a>
    </nav>

    <nav class="mobile-nav" id="mobile-nav">
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
    </nav>

    <div class="mobile-nav_options_container" id="mobile-nav_options_container">
        <a href="../">home</a>
        <a href="">about</a>
        <a href="">auction</a>
        <a href="">log-in</a>
        <div id="mobile-nav_options_container-exit">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</header>


<section class="log-in">
    <div class="column-40">
        <div class="column-40_absolute">

            <div class="log-in_logo">
                <img src="/img/logo-icon.png" alt="">
            </div>
            <div class="expert-esteem">
                <h4>Expert's esteem</h4>
                <p>Items’ prices can be <br> estimated by experts.</p>
            </div>
            <div class="auctive-coin">
                <h4>Auctive coin</h4>
                <p>Digital coin that gives <br> you different benefits</p>
            </div>
        </div>

    </div>
    <div class="column-60">
        <div class="column-60_absolute">

            <div class="log-in_title">
                <h1>Log-in</h1>
            </div>

            <form th:action="@{/log-in}" th:object="${loginForm}" method="post">
                <input type="text" th:field="*{username}" id="username" placeholder="Username">
                <div class="error-log-in">
                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
                </div>

                <input type="password" th:field="*{pass}" id="password" placeholder="Password">
                <div class="error-log-in">
                    <label th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}" />
                </div>


                <a href="">Forgot password?</a>

                <button type="submit">Log-in</button>
            </form>



            <div class="alternative_log-in">
                <a href="#google"><div class="option"><img src="/img/brands/google.png" alt="google_icon"></div></a>
                <a href="#facebook"><div class="option"><img src="/img/brands/facebook.png" alt="facebook_icon"></div></a>
                <a href="#apple"><div class="option"><img src="/img/brands/apple.png" alt=""></div></a>
            </div>



            <div class="no-account">
                <h4>Don't have an account?</h4>
                <a href="/sign-up">Sing up</a>
            </div>
        </div>
    </div>
</section>




<script src="../index.js"></script>

</body>
</html>