<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auctive</title>
</head>
<body>
    <div align="center">
        <h1>Create New Product</h1>
        <br/>
        <form th:action="@{/new}" th:object="${product}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>Product Name:</td>
                    <td><input type="text" th:field="*{productName}"/></td>
                </tr>
                <tr>
                    <td>Brand:</td>
                    <td><input type="text" th:field="*{brand}"/></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" th:field="*{productDescription}"/></td>
                </tr>
                <tr>
                    <td>Image Url:</td>
                    <td><input type="text" th:field="*{productImageUrl}"/></td>
                </tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </table>
        </form>
    </div>
</body>
</html>