<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Auctive</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/product-list.css">
</head>
<body>

    <h1>RISULTATI RICERCA</h1>

    <br>
    <br>

    <div align="center">
        <h1>Product Manager</h1>
        <a href="new">Create New Product</a>
        </br></br>
        <table border="1" cellpadding="10">
            <thead>
            <th>Prdocuct ID</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Image Url</th>
            <th>Brand</th>
            <th>Options</th>
            </thead>
            <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${product.idProduct}">Product ID</td>
                <td th:text="${product.productName}">Name</td>
                <td th:text="${product.productDescription}">Description</td>
                <td th:text="${product.productImageUrl}">Image</td>
                <td th:text="${product.brand}">Brand</td>
                <td>
                    <a th:href="@{'/edit/' + ${product.idProduct}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${product.idProduct}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="home-link">
        <a href="/">Torna alla Home</a>
    </div>

</body>
</html>
