<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/profile.css"/>
    <link rel="stylesheet" href="fonts/stylesheet.css"/>

    <title>Profile</title>
</head>

<body id="profile-body">

<section class="profile-data-section" id="profile-section">
    <div class="your-profile">
        <h2 class="profile-username" th:text="${user.username}"/>
        <p class="profile-name" th:text="${user.nameUser}"/>
        <a href="/profile/edit" > Edit profile</a>
    </div>
</section>

<section>
    <div>
        <p>Active</p>
    </div>
    <div>
        <p>Collection</p>
    </div>
    <div>
        <p>Info</p>
    </div>
</section>

<!-- Active and Collections -->
<!-- section class="profile-product-container">
    <div class="profile-product-card">
        <div class="profile-product-img">
            < img th:src="@{'/img/products/' + ${user.getPu().getproductImageUrl()}}">
        </div>

        <div class="profile-product-name">
            <p th:text="${user.getPu().getProductName()}"/>
        </div>

        <div class="profile-product-description">
            <p th:text="${user.getPu().getProductDescription()}"/>
        </div>
    </div>
</section-->

<!-- Info -->
<section class="profile-info">

    <h1 class="profile-stats-title">Info</h1>

    <div class="profile-stats">
        <p>Auctions done:</p>
        <p>//TO DO!</p>
        <!--p th:text="${user.auctionsDone}"/-->
    </div>

    <div>
        <p class="profile-name" th:text="${user.nameUser}"/>

        <p class="data-name">Username</p>
        <p th:text="${user.username}"/>

        <p class="data-name">Name</p>
        <p th:text="${user.nameUser}"/>

        <p class="surname">Surname</p>
        <p th:text="${user.surnameUser}"/>

        <p class="e-mail">E-mail</p>
        <p th:text="${user.emailUser}"/>

        <p class="birthdate">Birthday</p>
        <p th:text="${user.birthdate}"/>
    </div>
</section>

<!-- section class="account-data-section" id="payment-section">
    <h1 class="page-title">Payment methods</h1>

    <div class="scroll-cards">
        <div class="credit-card_div">
            <img src="img/account/master.png" class="card-image"/>
            <h2 class="card-number">**** **** **** **90</h2>
            <h2 class="card-owner">Marco Stefani</h2>
            <i class="fa-solid fa-trash-can"></i>
        </div>

        <div class="credit-card_div">
            <img src="img/account/master.png" class="card-image"/>
            <h2 class="card-number">**** **** **** **45</h2>
            <h2 class="card-owner">Marco Stefani</h2>
            <i class="fa-solid fa-trash-can"></i>
        </div>
    </div>

    <div class="card-information-div" id="card-information-div">
        <i class="fa-solid fa-x" id="close-tab"></i>
        <input class="card-info-name" type="text" placeholder="Nome"/>
        <input class="card-info-surname" type="text" placeholder="Cognome"/>
        <input class="card-info-number" type="text" placeholder="Numero della carta"/>
        <input class="card-info-expiring-date" type="text" placeholder="Data di scadenza"/>
        <input class="card-info-cvv" type="text" placeholder="CVV"/>

        <input class="card-info-add" type="button" value="Add card"/>
    </div>

    <div class="bottom-div">
        <i class="fa-solid fa-circle-plus" id="add-card"></i>
    </div>

</section -->

<div class="home-link">
    <a href="/">Torna alla Home</a>
</div>

<script src="js/account.js"></script>
<script src="https://kit.fontawesome.com/130673bc48.js" crossorigin="anonymous"></script>

</body>
</html>