<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/profile.css"/>
    <link rel="stylesheet" href="fonts/stylesheet.css"/>

    <title>Profile</title>
</head>

<body id="profile-body">

<section class="profile-data-section" id="profile-section">
    <div class="your-profile">
        <img src="img/profile/profile-avatar.png" class="profile-image"/>
        <a href="/profile-edit" > Edit profile</a>
        <h2 class="profile-username">username</h2>
        <p class="profile-name">Name</p>
    </div>
</section>

<section>
    <div>
        <p> Active </p>
    </div>
    <div>
        <p> Collection </p>
    </div>
</section>

<section class="profile-product-container">
    <div>
        <img src="img/profile/profile-avatar.png" class="profile-product"/>
        <p> Product Name </p>
        <p> Product Description. </p>
    </div>

    <div>
        <img src="img/profile/profile-avatar.png" class="profile-product"/>
        <p> Product Name </p>
        <p> Product Description. </p>
    </div>

    <div>
        <img src="img/profile/profile-avatar.png" class="profile-product"/>
        <p> Product Name </p>
        <p> Product Description. </p>
    </div>
</section>

<script src="js/account.js"></script>
<script src="https://kit.fontawesome.com/130673bc48.js" crossorigin="anonymous"></script>

</body>
</html>