<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/profile.css"/>
    <link rel="stylesheet" href="fonts/stylesheet.css"/>
    <title>Profile</title>
</head>

<body class="profile-edit">

<header>
    <div class="logo">
        <a href="index.html">
            <img src="/img/logo.png" alt="">
            <h2>uctive</h2>
        </a>
    </div>
    <nav>
        <a href="/">home</a>
        <a href="">about</a>
        <a href="/auction/all">auction</a>
        <a href="/log-in" th:if="${user == null}">log-in</a>
        <a th:unless="${user == null}" th:text="${user.username}" id="account-popup"></a>
    </nav>

    <div id="account-popup-menu">
        <a href="/profile" class="section-account">Your account</a>
        <a href="/log-in" class="section-account">Log-out</a>
    </div>

    <nav class="mobile-nav" id="mobile-nav">
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
    </nav>


    <div class="mobile-nav_options_container" id="mobile-nav_options_container">
        <a href="/">home</a>
        <a href="about">about</a>
        <a href="auction">auction</a>
        <a href="log-in">log-in</a>
        <div id="mobile-nav_options_container-exit">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</header>

<div>
    <div class="profile-edit-container">
        <h1 class="profile-tile">Edit Profile</h1>
        <br/>
        <form action="#" th:action="@{/profile/edit}" th:object="${user}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>Username:</td>
                    <td><input type="text" th:field="*{username}" readonly="readonly"/></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{nameUser}"/></td>
                </tr>
                <tr>
                    <td>Surname:</td>
                    <td><input type="text" th:field="*{surnameUser}"/></td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td><input type="email" th:field="*{emailUser}"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" th:field="*{pass}"/></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input type="password" th:field="*{confermapass}"/></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" th:field="*{address}"/></td>
                </tr>
                <tr>
                    <td>Birthdate:</td>
                    <td><input type="date" th:field="*{birthdate}"/></td>
                </tr>
                <tr>
                    <td><button class="profile-edit-save" type="submit">Save</button></td>
                    <td><button class="profile-edit-reset" type="reset">Reset</button></td>
                    <td><a href="/profile"> Back </a>
                </tr>
            </table>
        </form>
    </div>
</div>



<script src="js/profile.js"></script>
<script src="https://kit.fontawesome.com/130673bc48.js" crossorigin="anonymous"></script>

</body>
</html>