<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/profile.css"/>
    <link rel="stylesheet" href="fonts/stylesheet.css"/>

    <title>Profile</title>

</head>

<body>

<header>
    <div class="logo">
        <a href="/">
            <img src="/img/logo.png" alt="">
            <h2>uctive</h2>
        </a>
    </div>
    <nav>
        <a href="/">home</a>
        <a href="">about</a>
        <a href="/auction/all">auction</a>
        <a href="/log-in" th:if="${user == null}">log-in</a>
        <a th:unless="${user == null}" th:text="${user.username}" id="account-popup"></a>
    </nav>

    <div id="account-popup-menu">
        <a href="/profile" class="section-account">Your account</a>
        <a href="/log-in" class="section-account">Log-out</a>
    </div>

    <nav class="mobile-nav" id="mobile-nav">
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
    </nav>

    <div class="mobile-nav_options_container" id="mobile-nav_options_container">
        <a href="/">home</a>
        <a href="about">about</a>
        <a href="auction">auction</a>
        <div id="mobile-nav_options_container-exit">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</header>

<div class="profile-container">
    <section id="profile">
        <div>
            <h2 class="profile-username" th:text="${user.username}"/>
            <p class="profile-name" th:text="${user.nameUser}"/>
            <a th:href="@{'/profile/edit/' + ${user.idUser}}" > Edit profile</a>
            <a href="/new" > Create Product </a>
        </div>
    </section>

    <section class="profile-buttons">
        <div>
            <p id="profile-collection-button">Collection</p>
        </div>
        <div>
            <p id="profile-info-button">Info</p>
        </div>
    </section>

    <!-- Active and Collections -->
    <section id="profile-collection">
        <div class="profile-product-card">
            <th:block th:each="userProducts : ${userProducts}">
                <div class="auction_card">
                    <div class="profile-product-img">
                        <img th:src="@{'/img/products/' + ${userProducts.getProduct().getproductImageUrl()}}">
                    </div>

                    <div class="profile-product-name">
                        <p th:text="${userProducts.getProduct().getProductName()}"/>
                    </div>

                    <div class="profile-product-description">
                        <p th:text="${userProducts.getProduct().getProductDescription()}"/>
                    </div>
                </div>
            </th:block>
        </div>
    </section>

    <!-- Info -->
    <section id="profile-info">
        <h1>Info</h1>

        <div>
            <p class="data-name">Username</p>
            <p th:text="${user.username}"/>

            <p class="data-name">Name</p>
            <p th:text="${user.nameUser}"/>

            <p class="surname">Surname</p>
            <p th:text="${user.surnameUser}"/>

            <p class="e-mail">E-mail</p>
            <p th:text="${user.emailUser}"/>

            <p class="birthdate">Birthdate</p>
            <p th:text="${user.birthdate}"/>
        </div>
    </section>
</div>

<script src="js/profile.js"></script>
<script src="https://kit.fontawesome.com/130673bc48.js" crossorigin="anonymous"></script>

</body>
</html>