<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/fonts/stylesheet.css">
    <link rel="stylesheet" href="/css/log-in.css">
    <link rel="stylesheet" href="/css/sing-up.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9d05a115fd.js" crossorigin="anonymous"></script>
    <title>Auctive</title>
</head>
<body>
<header>
    <div class="logo">
        <a href="index.html">
            <img src="/img/logo.png" alt="">
            <h2>uctive</h2>
        </a>
    </div>
    <nav>
        <a href="../static">home</a>
        <a href="">about</a>
        <a href="">auction</a>
        <a href="../log-in/">log-in</a>
    </nav>

    <nav class="mobile-nav" id="mobile-nav">
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
    </nav>

    <div class="mobile-nav_options_container" id="mobile-nav_options_container">
        <a href="../static">home</a>
        <a href="">about</a>
        <a href="">auction</a>
        <a href="../log-in/">log-in</a>
        <div id="mobile-nav_options_container-exit">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</header>


<section class="log-in">
    <div class="column-40">
        <div class="column-40_absolute">

            <div class="log-in_logo">
                <img src="/img/logo-icon.png" alt="">
            </div>
            <div class="expert-esteem">
                <h4>Expert's esteem</h4>
                <p>Items’ prices can be <br> estimated by experts.</p>
            </div>
            <div class="auctive-coin">
                <h4>Auctive coin</h4>
                <p>Digital coin that gives <br> you different benefits</p>
            </div>
        </div>
    </div>
    <div class="column-60">
        <div class="column-60_absolute">

            <div class="sign-up_title">
                <h1>Sign-up</h1>
            </div>

            <form th:action="@{/sign-up}" th:object="${user}" method="post" class="sign-up_form">
                <input type="text"  th:field="*{nameUser}" class="first-inputs" id="name" placeholder="Name">
                <label th:if="${#fields.hasErrors('nameUser')}" th:errors="*{name_user}" />
                <input type="text" th:field="*{surnameUser}" id="surname" class="first-inputs" placeholder="Surname">
                <label th:if="${#fields.hasErrors('surnameUser')}" th:errors="*{surname_user}" />
                <input type="email" th:field="*{emailUser}" id="email" class="first-inputs" placeholder="Email">
                <label th:if="${#fields.hasErrors('emailUser')}" th:errors="*{email}" />
                <input type="text" th:field="*{username}" id="username" class="second-inputs" placeholder="Username">
                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
                <input type="date" th:field="*{birthdate}" class="second-inputs" th:value="${#temporals.format(birthdate,'yyyy-MM-dd')}" id="birthdate">
                <label th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}" />
                <input type="password" th:field="*{pass}" id="password" class="second-inputs" placeholder="Password">
                <label th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}" />
                <input type="password" th:field="*{confermapass}" class="second-inputs" id="confirm_password" placeholder="Confirm password">
                <label th:if="${#fields.hasErrors('confermapass')}" th:errors="*{confermapass}" />
                <input type="text" th:field="*{address}" placeholder="Address" class="first-inputs" id="address">
                <label th:if="${#fields.hasErrors('address')}" th:errors="*{address}"/>
                <input type="button" value="Next" id="next" class="first-inputs"/>
                <input type="submit" value="Sign-up" id="submit" class="second-inputs"/>
            </form>

            <div class="no-account sign-in_no-account">
                <h4>Have an account?</h4>
                <a href="../log-in/">Log-in</a>
            </div>
        </div>
    </div>
</section>


<i class="fa-solid fa-angle-left"id="arrow"></i>




<script src="/js/sign-up.js"></script>
<script src="/js/index.js"></script>
<script src="https://kit.fontawesome.com/130673bc48.js" crossorigin="anonymous"></script>

</body>
</html>