<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--link rel="stylesheet" href="/fonts/stylesheet.css">
    <link rel="stylesheet" href="/css/log-in.css">
    <link rel="stylesheet" href="/css/sing-up.css">
    <link rel="stylesheet" href="/css/main.css"-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9d05a115fd.js" crossorigin="anonymous"></script>
    <title>Auctive</title>
</head>
<body>
<header>
    <div class="logo">
        <a href="index.html">
            <img src="/img/logo.png" alt="">
            <h2>uctive</h2>
        </a>
    </div>
    <nav>
        <a href="../static">home</a>
        <a href="">about</a>
        <a href="">auction</a>
        <a href="../log-in/">log-in</a>
    </nav>

    <nav class="mobile-nav" id="mobile-nav">
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
        <div class="hamburger_line"></div>
    </nav>

    <div class="mobile-nav_options_container" id="mobile-nav_options_container">
        <a href="../static">home</a>
        <a href="">about</a>
        <a href="">auction</a>
        <a href="../log-in/">log-in</a>
        <div id="mobile-nav_options_container-exit">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</header>


<section class="log-in">
    <div class="column-40">
        <div class="column-40_absolute">

            <div class="log-in_logo">
                <img src="/img/logo.png" alt="">
            </div>
            <div class="expert-esteem">
                <h4>Expert's esteem</h4>
                <p>Items’ prices can be <br> estimated by experts.</p>
            </div>
            <div class="auctive-coin">
                <h4>Auctive coin</h4>
                <p>Digital coin that gives <br> you different benefits</p>
            </div>
        </div>
    </div>
    <div class="column-60">
        <div class="column-60_absolute">

            <div class="sign-up_title">
                <h1>Sign-in</h1>
            </div>

            <form th:action="@{/sign-up}" th:object="${user}" method="post" class="sign-up_form">
                <input type="text"  th:field="*{nameUser}" id="name_mobile" placeholder="Name">
                <label th:if="${#fields.hasErrors('nameUser')}" th:errors="*{name_user}" />
                <input type="text" th:field="*{surnameUser}" id="surname_mobile" placeholder="Surname">
                <label th:if="${#fields.hasErrors('surnameUser')}" th:errors="*{surname_user}" />
                <input type="email" th:field="*{emailUser}" id="email_mobile" placeholder="Email">
                <label th:if="${#fields.hasErrors('emailUser')}" th:errors="*{email}" />
                <input type="text" th:field="*{username}" id="username_mobile" placeholder="Username">
                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
                <input type="password" th:field="*{pass}" id="password_mobile" placeholder="Password">
                <label th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}" />
                <input type="password" th:field="*{confermapass}" id="confirm_password_mobile" placeholder="Confirm password">
                <label th:if="${#fields.hasErrors('confermapass')}" th:errors="*{conferma_pass}" />
                <input type="date" th:field="*{birthdate}" th:value="${#temporals.format(birthdate,'yyyy-MM-dd')}" id="birthdate">
                <label th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}" />
                <!--input type="text" th:field="*{sex}" placeholder="Sex" id="confirm_password_mobile">
                <label th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" /-->
                <input type="text" th:field="*{address}" placeholder="Address">
                <label th:if="${#fields.hasErrors('address')}" th:errors="*{address}" />
                <input type="submit" class="sign-in_button" value="Next" />
            </form>

            <div class="alternative_log-in">
                <a href="#google"><div class="option"><img src="/img/brands/google.png" alt="google_icon"></div></a>
                <a href="#facebook"><div class="option"><img src="/img/brands/facebook.png" alt="facebook_icon"></div></a>
                <a href="#apple"><div class="option"><img src="/img/brands/apple.png" alt=""></div></a>
            </div>

            <div class="no-account sign-in_no-account">
                <h4>Have an account?</h4>
                <a href="../log-in/">Log-in</a>
            </div>
        </div>
    </div>
</section>




<script src="/js/sign-up.js"></script>
<script src="/js/index.js"></script>

</body>
</html>