<html lang="en"> 
    <head>  
        <title>Login utente</title>  
    </head>  
	<body>
		<h1>Login utente</h1><br>
 
        <form action="signin" method="post">  
            <table>  
                <tr>  
                    <td><label for="username">User name</label></td>
                    <td><input id="username" type="text" name="username"></input></td>
                </tr>  
                <tr>  
                    <td><label for="password">Password</label></td>
                    <td><input id ="password" type="text" name="password"></input></td>
                </tr>  
                <tr>  
                    <td></td>  
                    <td><input type="submit" value="Submit"></input></td>  
                </tr>  
            </table><br>
            Non hai l'account? <a href="/user/signup">Registrati</a>
            Lista utenti <a href="/user/list">Lista</a>
        </form>  
	</body>
</html>